.jumbotron {
    background-color: greenyellow;
    color: black;
    margin-top: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: greenyellow;
    margin-bottom: 0%;
    margin-top: 10px;
}
.card-zoo {
    flex: 1 150px;
    margin-top: 10px;
    width: 20%;
}
.btn-reserve {
    width: 100%;
    border-radius: 0px ;
}
.footer-address-icon {
    padding-right: 10px;
}
.button-reserva {
    padding-right: 10px;
    border-radius: 0px;
}
.button-home {
    padding-right: 10px;
}
.img-fluid {
     width: 100%;
     height: 250px;
     
}
.tab-content {
    padding-top: 10px;
}