$greenyellow:#2EFE2E;
$red:#FD1014;
$yellow: #9ffc;

@mixin margenes ($mtop,$mbotton){
    margin-top: $mtop;
    margin-bottom: $mbotton;
    }

@mixin paddings ($padd,$ptop){
    padding: $padd;
    padding-top: $ptop;    
    }
@mixin ancho ($wancho) {
    width: $wancho;    
    }
  
.jumbotron {
    background-color: $greenyellow;
    color: black;
    @include margenes(50px,10px);
    @include paddings(15px,15px)
}

footer {
    background-color: $yellow;
    @include margenes(10px,0% );
    @include paddings(10px,15px );
    @include ancho(100%)
}
.card-header {
    background-color: $red;
}
.card-zoo {
    flex: 1 150px;
    width: 20%;
    @include margenes(10px,0px);
    @include paddings(0px,0px)
}
.btn-reserve {
    width: 100%;
    border-radius: 0px ;
}
.footer-address-icon {
    padding-right: 10px;
}
.button-reserva {
    padding-right: 10px;
    border-radius: 0px;
}
.button-home {
    padding-right: 10px;
}
.img-fluid {
     width: 100%;
     height: 250px;
     }
.tab-content {
    @include margenes(0px,0px );
    @include paddings(0px ,10px)
}