.jumbotron {
  background-color: #2EFE2E;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 15px;
}
footer {
  background-color: #FD1014;
  margin-top: 10px;
  margin-bottom: 0%;
  padding: 10px;
  padding-top: 15px;
  width: 100%;
}
.card-header {
  background-color: #2EFE2E;
}
.card-zoo {
  flex: 1 150px;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 0px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.button-reserva {
  padding-right: 10px;
  border-radius: 0px;
}
.button-home {
  padding-right: 10px;
}
.img-fluid {
  width: 100%;
  height: 250px;
}
.tab-content {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
}
