@yellow:#F9F215;
@greenyellow:#2EFE2E;
@red:#FD1014;

.margenes (@mtop: 0px,@mbotton:0px){
    margin-top: @mtop;
    margin-bottom: @mbotton;
    }
.paddings (@padd,@ptop,){
        padding: @padd;
        padding-top: @ptop;    
        }
.ancho (@wancho) {
        width: @wancho;    
        }

.jumbotron {
    background-color: @greenyellow;
    color: black;
    .margenes(50px,10px);
    .paddings(15px,15px);
 }
  
  footer {
    background-color: @yellow;
    .margenes(10px,0% );
    .paddings(10px,15px );
    .ancho(100%);
 }
  
  .card-header {
    background-color: @red; 
}
  
  .card-zoo {
    flex: 1 150px;
    .ancho(20%);
    .margenes(10px,0px);
    .paddings(0px,0px)
 }
  
  .btn-reserve {
    .ancho(100%);
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .button-reserva {
    padding-right: 10px;
    border-radius: 0px; }
  
  .button-home {
    padding-right: 10px; }
  
  .img-fluid {
    .ancho(100%);
    height: 250px; }
  
  .tab-content {
    .margenes(0px,0px );
    .paddings(0px ,10px);
 }